{{> menu_finanzas}}

<a href="/finanzas/control_ingresos_gastos/add" class=".btn_agregar_finanzas">Añadir</a>

<div class="contenedor_tarjetas">

	{{#each Datos}}

	<div class="contenedor_control">
		<a href=""></a>
		<div class="titulo_control">
			<h3>{{titulo}}</h3>
		</div>

		<div class="contenedor_fecha_control">
			<div class="fecha_inicio_control">
				<p class="titulo_sub_control">Inicio</p>
				<p class="inicio_control">{{fecha_inicio_f}}</p>
			</div>
			<div class="fecha_inicio_control">
				<p class="titulo_sub_control">Transcurrido</p>
				<p class="dias_control">0</p>
			</div>
			<div class="fecha_inicio_control">
				<p class="titulo_sub_control">Fin</p>
				<p class="fin_control">{{fecha_fin_f}}</p>
			</div>
			
		</div>

		<div class="dinero_control_contenedor">
			<div class="ingresos_control">
				<p class="titulo_sub_control">Ingresos</p>
				<p class="ingresos_control">450000</p>
			</div>
			<div class="ingresos_control">
				<p class="titulo_sub_control">Egresos</p>
				<p class="egresos_control">250000</p>
			</div>
			<div class="ingresos_control">
				<p class="titulo_sub_control">Restante</p>
				<p class="restante_control">200000</p>
			</div>
		</div>

		<div class="etiquetas_control_contenedor tabla_contenedor">
			<div class="table_control">
				<table>
					<thead>
						<tr>
							<th>Etiqueta</th>
							<th>Usado</th>
							<th>Restante</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Trabajo Mustafa</td>
							<td>25000</td>
							<td>425000</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>

	{{/each}}




	<div class="contenedor_control">
		<div class="titulo_control">
			<h3>Mes de pago mustafa y gastos personales</h3>
		</div>

		<div class="contenedor_fecha_control">
			<div class="fecha_inicio_control">
				<p class="titulo_sub_control">Inicio</p>
				<p class="inicio_control">12/3/23</p>
			</div>
			<div class="fecha_inicio_control">
				<p class="titulo_sub_control">Transcurrido</p>
				<p class="dias_control">15 Dias</p>
			</div>
			<div class="fecha_inicio_control">
				<p class="titulo_sub_control">Fin</p>
				<p class="fin_control">30/3/23</p>
			</div>
			
		</div>

		<div class="dinero_control_contenedor">
			<div class="ingresos_control">
				<p class="titulo_sub_control">Ingresos</p>
				<p class="ingresos_control">450000</p>
			</div>
			<div class="ingresos_control">
				<p class="titulo_sub_control">Egresos</p>
				<p class="egresos_control">250000</p>
			</div>
			<div class="ingresos_control">
				<p class="titulo_sub_control">Restante</p>
				<p class="restante_control">200000</p>
			</div>
		</div>

		<div class="etiquetas_control_contenedor tabla_contenedor">
			<div class="table_control">
				<table>
					<thead>
						<tr>
							<th>Etiqueta</th>
							<th>Usado</th>
							<th>Restante</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Trabajo Mustafa</td>
							<td>25000</td>
							<td>425000</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>

	<div class="contenedor_control">
		<div class="titulo_control">
			<h3>Mes de pago mustafa y gastos personales</h3>
		</div>

		<div class="contenedor_fecha_control">
			<div class="fecha_inicio_control">
				<p class="titulo_sub_control">Inicio</p>
				<p class="inicio_control">12/3/23</p>
			</div>
			<div class="fecha_inicio_control">
				<p class="titulo_sub_control">Transcurrido</p>
				<p class="dias_control">15 Dias</p>
			</div>
			<div class="fecha_inicio_control">
				<p class="titulo_sub_control">Fin</p>
				<p class="fin_control">30/3/23</p>
			</div>
			
		</div>

		<div class="dinero_control_contenedor">
			<div class="ingresos_control">
				<p class="titulo_sub_control">Ingresos</p>
				<p class="ingresos_control">450000</p>
			</div>
			<div class="ingresos_control">
				<p class="titulo_sub_control">Egresos</p>
				<p class="egresos_control">250000</p>
			</div>
			<div class="ingresos_control">
				<p class="titulo_sub_control">Restante</p>
				<p class="restante_control">200000</p>
			</div>
		</div>

		<div class="etiquetas_control_contenedor tabla_contenedor">
			<div class="table_control">
				<table>
					<thead>
						<tr>
							<th>Etiqueta</th>
							<th>Usado</th>
							<th>Restante</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Trabajo Mustafa</td>
							<td>25000</td>
							<td>425000</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>