{{> menu_gestion_tiempo}}

<div class="contenedor_titulo">
	<h2 class="titulo_formulario_metas C-blanco B-gris_oscuro">Editar Tarea</h2>
</div>

<form action="/gestion_tiempo/horario/individual_edit/{{id}}" method="POST" class="formulario_metas_contenedor">
	<div>
		<p>Titulo</p>
		<input type="text" name="titulo" required placeholder="Titulo de tarea" class="C-blanco" value="{{Datos.titulo_tarea}}" required>
	</div>
	
	<div>
		<p>Hora Inicio</p>
		<input type="time" name="hora_inicio" required placeholder="Hora de inicio" class="color_marron" value="{{Datos.hora_inicio}}" required>
	</div>
	
	<div>
		<p>Hora Fin</p>
		<input type="time" name="hora_fin" required placeholder="Hora Fin" class="color_verde_oscuro" value="{{Datos.hora_fin}}" required>
	</div>

	<button>Enviar</button>
</form>