{{> menu_finanzas}}
<div class="tabla_contenedor">

	<div class="titulo_tabla_contenedor">
			<a href="/finanzas/trabajos" class="titulo_tabla_contenedor_btn_izquierdo">Trabajos Actuales</a>
			<h4 class="titulo_tabla titulo_tabla_contenedor_registro">Trabajos Anteriores</h4>
			<a href="/finanzas/add/registros" class="titulo_tabla_contenedor_btn_derecho">Agregar</a>
	</div>

	<div class="table">
		<table>
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Generado</th>
					<th>Inicio</th>
					<th>Fin</th>
					<th>Dias</th>
				</tr>
			</thead>
			<tbody>
				<div class="tbody">
					<tr>
						<td><a href="">Mustafa</a></td>
						<td>500000</td>
						<td>X</td>
						<td>x</td>
						<td>15</td>
					</tr>
				</div>
			</tbody>
		</table>
	</div>
</div>