.B-verde{
	background: #074f07;
}
.B-rojo{
	background: #710202;
}
.B-naranja{
	background: #792800;
}
.B-gris_oscuro{
	background: #0c0c0c;
}
.C-verde{
	color:green;
}
.C-naranja{
	color: orange;
}
.C-blanco{
	color:#bfbfbf;
}
.C-rojo{
	color: #f52323;
}


.btn_metas_contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: auto;
	gap: 10px;
	position: fixed;
}
.btn_metas{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 130px;
	height: 50px;
	border: none;
	color:#bfbfbf;
	border-radius: 5px;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	cursor: pointer;
}.btn_metas a:hover{
	border: 2px solid #000;
}

.nueva_meta_btn{
	background: #074f07;
	transition: 0.5s;
}.nueva_meta_btn:hover{
	background: #041a00;
}

.agregar_btn{
	background: #0b6c00;
	transition: 0.5s;
}.agregar_btn:hover{
	background:#042400;
}

.insertar_fechas_btn{
	background: #013d73;
	transition: 0.5s;
}.insertar_fechas_btn:hover{
	background: #001f3b;
}

.fechas_btn{
	background: #792800;
	transition: 0.5s;
}.fechas_btn:hover{
	background: #2d0f00;
}

.config_btn{
	background: #0c0c0c;
	transition: 0.5s;
}.config_btn:hover{
	background: #000;
}

.sub_btn{
	font-size: 15px;
	padding: 5px 7px;
	color: #bfbfbf;
	border: none;
	cursor: pointer;
	text-decoration: none;
	border-radius: 5px;
}.sub_btn{
	border: 2px solid #000;
}

.btn_pequeño{
	font-size: 13px;
}



.contenedor_metas{
	width: 100%;
	margin-top: 80px;
}
.meta{
	width: 95%;
	height: 80vh;
	margin: auto;
	margin-bottom: 20px;
	background: #000;
	padding: 20px;
	border-radius: 5px;
	overflow: hidden;
}
.meta h2{
	width: 100%;
	color: #54ef43;
	font-size: 25px;
	margin-bottom: 10px;
	text-align: center;
}

.fecha_meta_contenedor{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 40px;
	margin-bottom: 15px;
}
.fecha_meta{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.registro{color:#bfbfbf;}
.inicio{color:#ff5454;}
.plazo{color:#f7bd52;}
.fin{color: #54f754;}

.fecha{
	color:#bfbfbf;
}


.objetivos_contenedor{
	height: 75%;
	padding: 0 10px;
	overflow-y: auto;
	margin-top: 20px;
}

.fecha_plazo_objetivo_tarea{
	font-size: 16px;
}

.objetivo{
	margin-bottom: 30px;
}

.objetivo h3{
	font-size: 25px;
	margin-bottom: 10px;
}

.tareas{
	padding: 0 15px;
}
.tareas li{
	padding: 5px 0;
	font-size: 20px;
	margin-top: 15px;
}

@media (max-height: 800px) {
	.objetivos_contenedor{
		height: 80%;
	}
}
@media (max-width: 430px) {
	.contenedor_metas{
		margin-top: 120px;
	}
	.sub_btn{
		font-size: 12px;
	}
	.btn_metas{
		width: 80px;
		height: 50px;
		font-size: 17px;
	}
	.meta h2{
		font-size: 23px;	
	}
	.fecha_meta_contenedor{
		gap: 20px;
	}
	.fecha_meta{
		font-size: 14px;
	}
	.objetivo h3{
		font-size: 20px;
	}
	.tareas li{
		font-size: 16px;
	}
	.fecha_plazo_objetivo_tarea{
		font-size: 13px;
	}

}



/*&formulario_tareas*/
.contenedor_titulo{
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
.titulo_formulario_metas{
	display: inline-block;
	padding: 15px;
	border-radius: 3px;
	font-size: 25px;
}
.formulario_metas_contenedor{
	width: 50%;
	padding: ;
	margin:auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background: #100f0f;
	border-radius: 5px;
	padding: 35px;
}
.formulario_metas_contenedor div{
	width: 70%;
}

.formulario_metas_contenedor div p{
	color: #bfbfbf;
	margin-bottom: 2px;
}
.formulario_metas_contenedor input{
	width: 100%;
	outline: 1px solid; #bfbfbf ;
	padding: 10px;
	border: none;
	border-radius: 2px;
	background: #000;
	outline: none;
}

.formulario_metas_contenedor textarea{
	min-width: 100%;
	max-width: 100%;
	min-height: 100px;
	max-height: 150px;
	outline: 1px solid; #bfbfbf ;
	padding: 7px;
	border: none;
	border-radius: 2px;
	background: #000;
	outline: none;
}

.formulario_metas_contenedor button{
	width:50%;
	padding: 15px 5px;
	border: none;
	border-radius: 2px;
	background: #000;
	color:#bfbfbf ;
	border-bottom: 1px solid #bfbfbf ;
	border-left: 1px solid #bfbfbf ;
	color: ;
	outline: none;
	cursor: pointer;
	margin-top: 10px;
}.formulario_metas_contenedor button:hover{
	border: 2px solid #bfbfbf;
}

@media (max-width: 600px) {
	.formulario_metas_contenedor{
		width: 80%;
	}
	.formulario_metas_contenedor div{
		width: 85%;
	}
	.formulario_metas_contenedor div p{
		font-size: 15px;
	}
}



.tareas_orden_contenedor{
	width: 60%;
	margin: auto;
	background: #100f0f;
	padding: 35px;
}
.tareas__orden_tarjetas_contenedor{

}

.tareas__orden_tarjetas_contenedor h2{
	color:#bfbfbf;
	font-size: 25px;
}
.tareas__orden_tarjetas_contenedor li{
	font-size: 20px;
	color: #f52323;
	margin-top: 10px;
}










.none{
	display: none;
}

