{{> menu_gestion_tiempo}}

<div class="contenedor_metas">
	<div class="meta">
		<h2>Meta</h2>

		<div class="fecha_meta_contenedor">
			<div class="fecha_meta">
				<p class="registro">Registro</p>
				<p class="fecha">3/2/24</p>
			</div>
			<div class="fecha_meta">
				<p class="inicio">Inicio</p>
				<p class="fecha">3/2/24</p>
			</div>
			<div class="fecha_meta">
				<p class="plazo">Plazo</p>
				<p class="fecha">3/2/24</p>
			</div>
			<div class="fecha_meta">
				<p class="fin">Fin</p>
				<p class="fecha">3/2/24</p>
			</div>
		</div>

		<div class="objetivos_contenedor">
			<div class="objetivo">
				<h3>Objetivo <strong class="fecha_plazo_objetivo_tarea">3/2/22</strong></h3>
				<div class="tareas">
				<li>tarea1 <strong class="fecha_plazo_objetivo_tarea">3/2/22</strong></li>
				<li>tarea1</li>
				<li>tarea1</li>
				<li>tarea1</li>
				</div>
			</div>
			<div class="objetivo">
				<h3>Objetivo <strong class="fecha_plazo_objetivo_tarea">3/2/22</strong></h3>
				<div class="tareas">
				<li>tarea1 <strong class="fecha_plazo_objetivo_tarea">3/2/22</strong></li>
				<li>tarea1</li>
				<li>tarea1</li>
				<li>tarea1</li>
				</div>
			</div>
			<div class="objetivo">
				<h3>Objetivo <strong class="fecha_plazo_objetivo_tarea">3/2/22</strong></h3>
				<div class="tareas">
				<li>tarea1 <strong class="fecha_plazo_objetivo_tarea">3/2/22</strong></li>
				<li>tarea1</li>
				<li>tarea1</li>
				<li>tarea1</li>
				</div>
			</div>
		</div>

	</div>


	<div class="meta">
		<h2>Meta</h2>

		<div class="fecha_meta_contenedor">
			<div class="fecha_meta">
				<p class="registro">Registro</p>
				<p class="fecha">3/2/24</p>
			</div>
			<div class="fecha_meta">
				<p class="inicio">Inicio</p>
				<p class="fecha">3/2/24</p>
			</div>
			<div class="fecha_meta">
				<p class="plazo">Plazo</p>
				<p class="fecha">3/2/24</p>
			</div>
			<div class="fecha_meta">
				<p class="fin">Fin</p>
				<p class="fecha">3/2/24</p>
			</div>
		</div>

		<div class="objetivos_contenedor">
			<div class="objetivo">
				<h3>Objetivo <strong class="fecha_plazo_objetivo_tarea">3/2/22</strong></h3>
				<div class="tareas">
				<li>tarea1 <strong class="fecha_plazo_objetivo_tarea">3/2/22</strong></li>
				<li>tarea1</li>
				<li>tarea1</li>
				<li>tarea1</li>
				</div>
			</div>
			<div class="objetivo">
				<h3>Objetivo <strong class="fecha_plazo_objetivo_tarea">3/2/22</strong></h3>
				<div class="tareas">
				<li>tarea1 <strong class="fecha_plazo_objetivo_tarea">3/2/22</strong></li>
				<li>tarea1</li>
				<li>tarea1</li>
				<li>tarea1</li>
				</div>
			</div>
			<div class="objetivo">
				<h3>Objetivo <strong class="fecha_plazo_objetivo_tarea">3/2/22</strong></h3>
				<div class="tareas">
				<li>tarea1 <strong class="fecha_plazo_objetivo_tarea">3/2/22</strong></li>
				<li>tarea1</li>
				<li>tarea1</li>
				<li>tarea1</li>
				</div>
			</div>
		</div>

	</div>
</div>