<h2 class="titulo_principal">Añadir Nueva tarea</h2>

<form action="/objetivos_sub/add_tarea/{{id}}" method="POST" class="contenedor_form">
	<div class="contenedor_inputs">
		<input type="text" name="tarea" required placeholder="Tarea" class="color_blanco">
	</div>
	<input type="submit" value="Enviar" class="btn_enviar">
</form>
