{{> menu_gestion_tiempo}}

<form action="/gestion_tiempo/metas/objetivos/add/{{id}}" method="POST">
	<input type="text" name="titulo" required placeholder="Titulo de Objetivo">
	<textarea placeholder="descripcion" name="descripcion"></textarea>
	<input type="datetime-local" id="fecha_inicio" name="fecha_inicio" required>
	<input type="datetime-local" id="fecha_plazo" name="fecha_plazo" required>
	<input type="submit" name="" value="Enviar">
</form>

<script type="text/javascript" src="/codigo/Autocompletar_fecha_actual.js"></script>