



<div class="navegacion_contenedor_movil">
	<div class="barra_navegacion">
		<img onclick="mostrar_menu()" src="/img/menu.svg" alt="Icono SVG">
		<div class="links_contenedor">
			<a href="/finanzas/analisis">Analisis</a>
			<a href="/finanzas/registros">Registros</a>
			<a href="/finanzas/trabajos">Ingresos</a>
			<a href="/finanzas/Gastos">Gastos</a>
			<a href="/finanzas/control_ingresos_gastos">Control</a>
			<a href="/finanzas/Configuraciones">Etiquetas</a>
		</div>
		
	</div>

	

	<div class="menu">
		<div onclick="cerrar_menu()" class="barra_navegacion barra_navegacion_2">
			<img src="/img/menu.svg" alt="Icono SVG">
		</div>
		<a href="/" onclick="cerrar_menu()">Inicio</a>
		<a href="/finanzas" onclick="cerrar_menu()">Finanzas</a>
		<!-- <a href="#seccion3" onclick="cerrar_menu()">Experiencia</a>
		<a href="#seccion4" onclick="cerrar_menu()">Contacto</a> -->

	</div>


</div>

<div class="soporte_menu"></div>