<h2 class="titulo_principal">Alimentarse</h2>

<form action="/necesidades/alimentarse/add" method="POST" class="contenedor_form">
	<div class="contenedor_inputs">
	<input type="text" name="descripcion" required placeholder="Descripcion" class="color_blanco">
	<select type="text" name="alimentarse" required placeholder="Selecione Estilo de Comida" class="color_gris" value="">
		<option>--Seleccione Estilo--</option>
		<option>Desayuno</option>
		<option>Almuerzo</option>
		<option>Cena</option>
	</select>
	</div>
	<input type="submit" value="Enviar" class="btn_enviar">
</form>
