<div class="contenedor_titulo">
	<h2 class="titulo_formulario_metas C-blanco B-gris_oscuro">Agregar Tarea</h2>
</div>

<form action="/finanzas/negocios_empresas/empresa/add" method="POST" class="formulario_metas_contenedor">
	<div>
		<p>Nombre</p>
		<input type="text" name="nombre" required placeholder="Nombre de Empresa" class="C-blanco">
	</div>
	
	<div>
		<p>Numero de Registro</p>
		<input type="text" name="numero_registro" required placeholder="Numero de Registro" class="C-blanco">
	</div>
	
	<div>
		<p>Telefono</p>
		<input type="text" name="numero_telefono" required placeholder="Numero Telefonico" class="C-blanco">
	</div>
	
	
	<button>Enviar</button>
</form>
